{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="home">
<h1>SUBJECT SELECTION</h1>
<br>
{% if session['role'] == 'admin' %}
<a href="/subjects">All Subjects</a>
<br>
<a href="{{ url_for('dashboard') }}">All Users</a>
<br>
<a href="/admin_subjects">Student Selections</a>
{% elif 'logged_in' in session %}
<a href="/view?id={{ session['id'] }}">View Profile</a>
<br>
<a href="/selected">Subjects Selected</a>
{% else %}
<a href="/subjects">Select Your Subjects</a>
</div>
{% endif %}
{% endblock %}