{% extends '_layout.html' %}

{% block title %}Subjects Selected{% endblock %}

{% block content %}
<table>
    {% if result|length == 0 %}
    Hey! You have not selected any subjects yet. Click <a href="/subjects">here</a> to find the list of subjects.
    {% else %}
    <tr>
        <th>Subject</th>
        <th>Year Level</th>
        <th>Actions</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>
            {{ row.name }}
        </td>
        <td>
            {{ row.year_level }}
        </td>
        <td>
            <a href="/delete_selected?id={{ row.id }}" onclick="return confirm('Are you sure you want to delete this subject?')">Delete</a>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% if result|length != 0 %}
<a href="/subjects">Subject Selection</a>
{% endif %}
<br>
<a href="/">Return to Home</a>
{% endblock %}