{% extends '_layout.html' %}

{% block title %}Add New Subject{% endblock %}

{% block content %}
<form method="post">
    <label for="subject">Subject Name</label>
    <input id="subject" name="subject">
    <br>
    <label for="year">Year Level</label>
    <input id="year" name="year">
    <br>
    <label for="faculty">Faculty</label>
    <input id="faculty" name="faculty">
    <br>
    <label for="hof">HOF</label>
    <input id="hof" name="hof">
    <br>
    <input type="submit" value="Add Subject">
</form>
{% endblock %}