{% extends '_layout.html' %}

{% block title %}Subject Selection{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Year Level</th>
        <th>Faculty</th>
        <th>Teacher in Charge</th>
        <th colspan="3">Actions</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.year_level }}</td>
        <td>{{ row.faculty }}</td>
        <td>{{ row.teacher_in_charge }}</td>
        {% if session['role'] != 'admin' %}
        <td>
            <a href="/select?id={{ row.id }}">Select</a>
        </td>
        {% endif %}
        {% if session['role'] == 'admin' %}
        <td>
            <a href="/view_subject?id={{ row.id }}">View</a>
        </td>
        <td>
            <a href="/delete_subject?id={{ row.id }}" onclick="return confirm('Are you sure you want to delete this subject?')">Delete</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    {% if session['role'] == 'admin' %}
    <tr>
        <td colspan="99">
            <a href="/add_subject">Add subject</a>
        </td>
    </tr>
    {% endif %}
</table>
{% if session['role'] == 'admin' %}
<a href="/admin_subjects">Student Selections</a>
{% elif session['logged_in'] == True and session['role'] != 'admin' %}
<a href="/selected">Subjects Selected</a>
{% endif %}
<br>
<a href="/">Return to Home</a>
{% endblock %}