{% extends '_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<table>
    {% if result|length == 0 %}
    Hey! You have not watched any movies yet. Click <a href="/movies">here</a> to find movies.
    {% else %}
    <tr>
        <th>Movies Watched</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>
            {{ row.title }}
        </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% if result|length != 0 %}
<a href="/movies">List of Movies</a>
{% endif %}
<br>
<a href="/">Return to home</a>
{% endblock %}