{% extends '_layout.html' %}

{% block title %}Movies Watched{% endblock %}

{% block content %}
<table>
    {% if result|length == 0 %}
    Nobody has watched any movies yet. Click
    <a href="/movies">here</a> to find movies.
    {% else %}
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Movie Title</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>
            {{ row.id }}
        </td>
        <td>
            {{ row.first_name }}
        </td>
        <td>
            {{ row.title }}
        </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% if result|length != 0 %}
<a href="/movies">List of Movies</a>
{% endif %}
<br>
<a href="/">Return to home</a>
{% endblock %}